body{
    margin: 0 400px;
    
}
section{
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 8px 0;
    margin-top: 50px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQG2vZpqz4Nn3aEUeiejdpkv6QCQOVzMHWxWg&s');
    background-repeat: repeat;
    background-size: 60px;
    background-position: -11px;
    width: 45.44vw;
}

.box{
    background-color: rgb(170, 168, 168, 0.9);
}

.header, .footer{
    height: 10vh;
}

.main{
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 21px;
}

.main .box{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnoP1dj380du_WvJg8jPjuY2BqalNb1LzYOw&s');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% 90%;
}