#section-f {
    border: 1px solid black;
    height: 190px;
    margin: 25px 80px 0 80px;
    display: flex;
}

#left-f {
    width: 400px;
    border-right: 1px solid black;
}

#middle-f {
    width: 541px;
}

#right-f {
    width: 400px;
    border-left: 1px solid black;
}

.middle-box {
    height: 130px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-top: 30px;
}

#bold {
    border: 1px solid;
    margin-bottom: 5px;
}

#table {
    border: 1px solid;
    height: 120px;
    margin: 5px;
    margin-bottom: 0;
}

.row {
    border-bottom: 1px solid;
    height: 30px;
}

#section-s {
    border: 1px solid black;
    margin: 0 60px 50px 60px;
    padding: 5px;
}

#green, #blue {
    border: 1px solid black;
    padding: 25px;
}

#green {
    background-color: green;
    margin-bottom: 5px;
}

#blue {
    background-color: rgb(6, 6, 152);
    margin-top: 5px;
}

#boxes {
    display: flex;
    gap: 5px;
}

#left-s {
    border: 1px solid black;
    height: 600px;
    width: 350px;
}

#middle-s {
    border: 1px solid black;
    height: 600px;
    width: 750px;
}

#right-s {
    border: 1px solid black;
    height: 600px;
    width: 300px;
}

img {
    padding: 100px 3px;
    height: 400px;
    width: 680px;
    
}