body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 225, 219);
}

header {
    background-color: rgb(255, 81, 0);
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
}

section {
    margin: 20px 30px;
    padding: 0 30px;
}

h2 {
    background-color: rgb(247, 82, 6);
    display: inline-block;
    padding: 5px 30px;
    border-top-right-radius: 30px;
    letter-spacing: 2px;
    color: white;
    margin-bottom: 0;
}

.container {
    margin: 10px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 15px;
}

iframe, img {
    height: 180px;
    width: 320px;
    background-color: rgb(247, 82, 6);
    border: 3px solid rgb(247, 82, 6);
    border-radius: 10px;
}