body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main{
    padding: 50px 90px 37px;
    background-color: white;
    width: 700px;
}

#header {
    text-align: center;
}

h1 {
    margin: 0;
    letter-spacing: 3px;
    font-weight: 1;
    font-size: 6vh;
    background-color: rgb(244, 215, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#header h4{
    margin-top: 15px;
    margin-bottom: 15px;
    color: gray;
}

h2 {
    letter-spacing: 2px;
    font-weight: 10;
    display: inline-block;
    background-color: rgb(244, 215, 250);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
}

p {
    margin-top: 5px;
    margin-bottom: 0;
    color: gray;
}

h4 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.section {
    margin-bottom: 10px;
}

.edu{
    margin-top: 30px;
}

#btech{
    margin-top: 0;
}

li, span{
    line-height: 1.5;
}